.css-2o5izw {
  border-color: $input-btn-focus-color !important;
  box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !important;

  &:hover {
    border-color: $input-btn-focus-color !important;
    box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !important;
  }
}

.css-wqgs6e {
  background: $primary !important;
  color: $white !important;
}

.css-z5z6cw {
  background: rgba($primary, .85) !important;
}

.css-1ep9fjw {
  color: $primary !important;
}